<div class="gpeople-admin-wrap remote-people-pre-add">

	<h3>{{form-title}}</h3>

	<div class="profile-picture"></div>

	<div class="form-field hide-if-no-js">
		<a href="#" id="people_change_profile" class="button gpeople-modal-open" data-modal="profiles" data-title="{{profile-change}}">{{profile-change}}</a>
		<a href="#" id="people_unlink_profile" class="remove" >{{profile-unlink}}</a>
		<p class="description">
			{{profile-desc}}
		</p>
	</div>

	<div class="form-field hide-if-no-js">
		<a href="#" id="people_change_user" class="button gpeople-modal-open" data-modal="users" data-title="{{user-change}}">{{user-change}}</a>
		<a href="#" id="people_unlink_user" class="remove" >{{user-unlink}}</a>
		<p class="description">
			{{user-desc}}
		</p>
	</div>

</div>
